@import url('https://fonts.googleapis.com/css?family=Sora&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100vh;
  background: #000000;
  color: #ffffff;
	font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.m-container {
  margin: 45vh auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  width: 40vw;
  max-width: 480px;
  text-align: center;
}

.magnet {
  padding: 16px;
  cursor: pointer;
  transition: transform 0.1s ease-out;
}

.g-container {
  margin: 45vh auto;
  width: 40vw;
  max-width: 480px;
}

.g-row {
  display: grid;
  grid-template-columns: 4fr 1fr;
  cursor: pointer;
}

.g-row-text {
  padding: 16px;
}

.cursor {
  display: none;
}

a {
  display: block;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a span.tooltip {
  display: none;
  opacity: 0;
}

a:hover span.tooltip {
  display: inline;
  position: absolute; 
  overflow: hidden;
  font-size: 10px;
  opacity: 0.8;
  transition: all 100ms ease-out; 
}

@media (any-pointer: fine) {
  .cursor {
    display: block;
    pointer-events: none;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    transition: all 0.1s ease-out;
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 1000px;
    opacity: 0;
  }
}